{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock title %}

{% block body %}
    <main role="main" class="container">
        <div class="starter-template">
            <div class="row">
                <div class="col-sm-12">
                    <img src="{{ asset('img/padawan.jpg') }}" width="40%" alt="">
                    <p class="lead">Apprenez à coder avec des vrais projets.</p>
                    {% if app.user %}
                        <a class="btn btn-outline-dark" href="{{ path('project_add') }}">Déposer un projet</a>
                    {% else %}
                        <a class="btn btn-dark" href="{{ path('app_register') }}">Devenir un Padawan</a>
                    {% endif %}
                    <a class="btn btn-outline-primary" href="{{ path('projects') }}">Voir les projets</a>

                </div>

            </div>
        </div>
    </main>
{% endblock body %}
